@import url('https://fonts.googleapis.com/css2?family=Aldrich&family=Roboto&display=swap');

*{
    margin: 0;
    padding: 0;
    font-family: 'roboto', sans-serif;
}

.content{
    height: 100vh;
    display: grid;
    grid-template-columns: minmax(250px,1fr) 6fr;
    grid-template-rows: auto 1fr;
    grid-template-areas: "sidebar header header"
                        "sidebar main main ";
    
}

.sidebar{
    background-color: #1597d3;
    font-size: large;
    color: white;
    grid-area: sidebar;
    
}
.sidebar div:first-child{
    margin-top: 20px;
    margin-left: 5px;
    display: flex;
    align-items: center;
    font-size: 2rem;
}
.sidebar > ul > li > img{
    height:23px;
    filter: brightness(0) invert(1);
}

.icon-dash{
    height:40px;
    width: 60px;
    filter: brightness(0) invert(1);
}

li{
    list-style: none;
    display: flex;
    gap: 1em;
}

ul{
    display: grid;
    gap: 15px;
    margin-top: 40px;
    margin-left: 20px;
}


.header{
    grid-area: header;
    display: grid;
    grid-template-rows: 1fr 1fr;
    padding: 1.5rem 3rem;
    
}

.header-top{
    grid-row: 1/2;
    display: grid;
    grid-template-columns: 2fr 1fr;
    grid-template-rows: 30px;
    align-items: center;
    
} 

.search-bar{
    display: flex;
    gap: 1rem;
}

.search-bar > input{
    border-radius: 50px;
    width: 40vw;
    height: 30px;
    background-color: rgb(221, 219, 219);
    border: white;
}

.account{
    justify-self: end;
    display: flex;
    align-items: center;
    gap: 1rem;
    
    
}
.header-bottom{
    display: grid;
    grid-template-columns: 2fr 1fr;
    margin-top: -10px;
}

.profile{
    display: flex;
    align-items: center;
    gap: 1em;
    
}
.greeting{
    font-weight:500;
    margin-bottom: 5px;
}
.profile-name{
    font-size:1.4em;
    font-weight: 800;
}
.user-img{
    height: 50px;
    width: 50px;
}
.user-icon{
    height: 80px;
    width: 80px;
}

.header-icon{
    height: 25px;
    width: 25px;
    
}
.buttons{
    display: flex;
    justify-content: flex-end;
    gap: 1.3em;
}
.buttons > button{
    background-color: #1597d3;
    border: white;
    border-radius: 180px ;
    color: white;
    font-size: medium;
    height: 40px;
    width: 85px;
    
}
.main-content{
    background-color: rgb(221, 219, 219);
    grid-area: main;

    
}

.card-icons{
    height:23px;
    width: 30px;
}



